{% extends "LddtMainBundle::n2.html.twig" %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block n3 %}

    <!-- Template Niveau 3 -->
    <div class="row well">
            <div class="col-lg-3 col-lg-offset-1">
                <h1>Vous dessinez au téléphone ? </h1>
 <img width="290"
             src="{{ asset('bundles/lddtmain/img/red-phone.jpg') }}" />
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <h3>Envoyez votre dessin !</h3>
                <!-- Template Formulaire -->
               {#{{ form_start(form) }}#}
               {#{{ form_widget(form) }}#}
               {#{{ form_end(form) }}#}

 {% include 'LddtMainBundle:Default/Partials:form_draw.html.twig' %}

                <!-- Fin Template Formulaire -->
                <!-- Si le visiteur n'est pas identifié -->
                <!-- <p>Merci de vous<a href="#"> indentifier</a>  pour poster vos dessins !</p> -->
            </div>

    </div><!-- Fin Template Niveau 3 -->
{% endblock n3 %}